<div class="col-md-6 col-md-offset-3">
  <%= form_for @recipe, url: recipe_path, action: :update do |f| %>
    <%= f.submit '保存' %>
    <h3>タイトル</h3>
    <%= f.text_field :title, class: "form-control", value: @recipe.title %>
      <div class="box left">
        <%= f.label :image %>
        <div class="click-image" id="img_field" onClick="$('#file').click()" >
          <%= image_tag(@recipe.image.url) %>
        </div>
        <%= f.file_field :image, id: "file"%>
      </div>
      <div class="box right">
        <div class="box text-center one-text">
          <table>
            <thead>
              <tr>
                <div class="title-box">
                  <h5>材料</h5>
                </div>
                <div class="title-box">
                  <h5>数量</h5>
                </div>
              </tr>
            </thead>
            <tbody>
              <div class="box text-center one-text">
              <tr>
                <div class="right-left">
                  <%= f.fields_for :ingredients do |ingredient| %>
                    <% @ingredients.each do |i| %>
                      <%= ingredient.hidden_field 'ingredient_params[][id]', value: i.id %>
                      <%= ingredient.text_field 'ingredient_params[][name]', class: "form-control", value: i.name %>
                    <% end %>
                  <% end %>
                </div>
                <div class="right-left">
                  <%= f.fields_for :quantities, @quantities.each do |quantity| %>
                    <% @quantities.each do |q| %>
                      <%= quantity.hidden_field 'quantity_params[][id]', value: q.id %>
                      <%= quantity.text_field 'quantity_params[][amount]', class: "form-control", value: q.amount %>
                    <% end %>
                  <% end %>
                </div>
              </tr>
              </div>
            </tbody>
          </table>
        </div>
      </div>
      <%= f.fields_for :steps, @steps.each do |step| %>
        <% @steps.each do |s| %>
          <%= step.label :image %>
          <div class="click-image" id="img_field" onClick="$('#file').click()" >
            <%= image_tag(s.image.url) %>
          </div>
            <%= step.hidden_field 'step_params[][id]', value: s.id %>
            <%= step.file_field 'step_params[][image]', value: s.image %>
            <%= step.text_field 'step_params[][detail]', class: "form-control", value: s.detail %>
        <% end %>
      <% end %>
    <% end %>
</div>

<script>
  $(function(){
    $fileField = $('#file')
    // 選択された画像を取得し表示
    $($fileField).on('change', $fileField, function(e) {
      file = e.target.files[0]
      reader = new FileReader(),
      $preview = $("#img_field");
      reader.onload = (function(file) {
        return function(e) {
          $preview.empty();
          $preview.append($('<img>').attr({
            src: e.target.result,
            width: "100%",
            height: "250px",
            class: "preview",
            title: file.name
          }));
        };
      })(file);
      reader.readAsDataURL(file);
    });
  });
</script>
