<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Today Menu</title>

    <!-- Favicon -->
    <link rel="icon" href="images/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <!-- <link href="/assets/stylesheets/style.scss" rel="stylesheets"> -->

    <!-- Responsive CSS -->
    <!-- <link href="/assets/stylesheets/responsive.scss" rel="stylesheets"> -->
    <!-- /ネット上のbootstrapからクラスを読み込む -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <script>
      $(function(){
        $(".alert").fadeOut(3000);
      });
    </script>

</head>

<body>
      <!-- Preloader Start -->
      <!-- <div id="preloader">
          <div class="yummy-load"></div>
      </div> -->

      <!-- Background Pattern Swither -->
      <div id="pattern-switcher">
          Bg Pattern
      </div>
      <div id="patter-close">
          <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <!-- ****** Top Header Area Start ****** -->
      <div class="top_header_area">
          <div class="container">
              <div class="row">
                  <div class="col-5 col-sm-6">
                      <!--  Top Social bar start -->
                      <div class="top_social_bar">
                          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                          <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <!--  Login Register Area -->
                  <div class="col-7 col-sm-6">
                      <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <div class="login_register_area d-flex">
                          <% if logged_in? %>
                            <div class="login">
                              <%= link_to "マイページ", "/user_storages" %>
                            </div>
                            <div class="login">
                              <%= link_to "ログアウト" ,'/logout',method: :delete  %>
                            </div>
                          <% else %>
                            <div class="login">
                              <%= link_to "新規作成", new_user_path %>
                            </div>
                            <div class="login">
                              <%= link_to "ログイン", login_path %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                      <!-- Search Button Area -->
                      <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <div class="search_button">
                            <a class="searchBtn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <!-- Search Form -->
                        <div class="search-hidden-form">
                            <form action="#" method="get">
                                <input type="search" name="search" id="search-anything" placeholder="Search Anything...">
                                <input type="submit" value="" class="d-none">
                                <span class="searchBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </form>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- ****** Top Header Area End ****** -->

      <!-- ****** Header Area Start ****** -->
      <header class="header_area">
          <div class="container">
              <div class="row">
                  <!-- Logo Area Start -->
                  <div class="col-12">
                      <div class="logo_area text-center">
                          <a href="/" class="yummy-logo">Today Menu</a>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-12">
                      <nav class="navbar navbar-expand-lg">

                          <!-- Menu Area Start -->
                          <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
                              <ul class="navbar-nav" id="yummy-nav">
                                  <li class="nav-item">
                                      <a class="nav-link" href="/">Home</a>
                                  </li>
                                    <% if logged_in? %>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/recipes">RECIPE</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/recipes/new">SUBMIT</a>
                                  </li>
                                    <% else %>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">RECIPE</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">SUBMIT</a>
                                  </li>
                                    <% end %>
                                  <li class="nav-item">
                                      <a class="nav-link" href="/searches/new">search</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="#">About</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" href="contact.html">Contact</a>
                                  </li>
                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>
          </div>
      </header>
      <!-- ****** Header Area End ****** -->

      <!-- ****** Footer Menu Area End ****** -->
      <%= yield %>


  </body>

  <footer>
  </footer>
